body{
  /*background-color: #DECADE*/
  background-color: #F2F6D0

}
.jumbotron{
  text-align:center;
}
#wrapper{
  width:960px;
  margin: 0 auto;
  padding-top: 5%;
}
.article-row{
  height:500px;
}
#article{
  height: 100%;
  border:1px red solid;
  display:inline-block;
  overflow: auto;
}
#add-note{
  height: 100%;
  border:1px red solid;
  resize: none;
}
#notes{
  height: 100%;
  border:1px red solid;
}
.button-align{
  text-align: center;
}
textarea, input{
  display:block;
  width:100%;
  background-color: #FCF5C7;
}
input{
  height:36px;
  font-size: 24px;
}
textarea{
  height:200px;
  font-size: 18px;
}
